<div class="content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" row">
          <div class=" card-header col-md-9"><h3 class=" title" style="margin-left: 2px;">Edit Profile</h3></div>
           
      </div>
        <div class=" card-body">
             
          <form (ngSubmit)="save(f)" #f="ngForm">
            <div class=" row">
              <div class=" col-md-2">
                <div class=" form-group">
                  <label  > Employee Id </label>
                  <input
                    class="form-control"
                    ngModel
                    name="empId" 
                    type="text"
                    [(ngModel)]="userObj.empId"
                  />
                </div>
              </div>
              <div class=" col-md-3">
                <div class=" form-group">
                  <label> First Name </label>
                  <input
                    class=" form-control"
                    ngModel
                    name="first_name" 
                    placeholder="first name"
                    type="text"
                    [(ngModel)]=userObj.first_name
                  />
                </div>
              </div>
              <div class=" col-md-3">
                <div class=" form-group">
                  <label> Last Name </label>
                  <input
                    class=" form-control"
                    ngModel
                    name="last_name" 
                    placeholder="last name"
                    type="text"
                    [(ngModel)]=userObj.last_name
                  />
                </div>
              </div>
              <div class=" col-md-4">
                  <div class=" form-group">
                    <label> Username </label>
                    <input
                      class=" form-control"
                      ngModel
                      name="username" 
                      placeholder="Username"
                      type="text"
                      [(ngModel)]=userObj.username
                    />
                  </div>
                </div>
            </div>



            <div class=" row">
              <div class=" col-md-3">
                <div class=" form-group">
                  <label> Designation </label>
                  <input
                    class=" form-control"
                    ngModel
                    name="designation" 
                    placeholder="Designation"
                    type="text"
                    [(ngModel)]=userObj.designation
                  />
                </div>
              </div>
              <div class=" col-md-3">
                <div class=" form-group">
                  <label> password </label>
                  <input
                    class=" form-control"
                    ngModel
                    name="password" 
                    placeholder="password"
                    type="text"
                    [(ngModel)]=userObj.password
                  />
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Email address </label>
                  <input
                    class=" form-control"
                    ngModel
                    name="emailId" 
                    type="email"
                    [(ngModel)]=userObj.emailId
                  />
                </div>
              </div>
            </div>





            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Address </label>
                  <input
                    class=" form-control"
                    ngModel
                    name="address" 
                    placeholder="Home Address"
                    type="text"
                    [(ngModel)]=userObj.address
                  />
                </div>
              </div>
            </div>

            <div class=" row">
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> City </label>
                  <input
                    class=" form-control"
                    ngModel
                    name="city" 
                    placeholder="City"
                    type="text"
                    [(ngModel)]=userObj.city
                  />
                </div>
              </div>
              <div class=" col-md-3 pl-md-1">
                  <div class=" form-group">
                    <label> State </label>
                    <input
                      class=" form-control"
                      ngModel
                      name="state" 
                      placeholder="State"
                      type="text"
                      [(ngModel)]=userObj.state
                    />
                  </div>
                </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> Country </label>
                  <input
                    class=" form-control"
                    ngModel
                    name="country" 
                    placeholder="Country"
                    type="text"
                    [(ngModel)]=userObj.country
                  />
                </div>
              </div>
              <div class=" col-md-3 pl-md-1">
                  <div class=" form-group">
                    <label> Postal Code </label>
                    <input
                      class=" form-control"
                      ngModel
                      name="pincode" 
                      placeholder="ZIP Code"
                      type="number"
                      [(ngModel)]=userObj.pincode
                    />
                  </div>
                </div>
            </div>


            <div class=" row">
              <div class=" col-md-5">
                <div class=" form-group">
                  <label> Location Preference </label>
                  <input
                    class=" form-control"
                    ngModel
                    name="location_pref" 
                    placeholder="Location"
                    type="text"
                    [(ngModel)]=userObj.location_pref
                  />
                </div>
              </div>
              <div class=" col-md-4">
                  <div class=" form-group">
                    <label> Restaurant Preference </label>
                    <input
                      class=" form-control"
                      ngModel
                      name="restaurant_pref" 
                      placeholder="Restaurant"
                      type="text"
                      [(ngModel)]=userObj.restaurant_pref
                    />
                  </div>
                </div>
                <div class=" col-md-3">
                    <div class=" form-group">
                      <label> Budget </label>
                      <input
                        class=" form-control"
                        ngModel
                        name="budget" 
                        placeholder="Maximum Budget"
                        type="number"
                        [(ngModel)]=userObj.budget
                      />
                    </div>
                  </div>
            </div>


            <div class=" row">
              <div class=" col-md-3">
                <div class=" form-group ">
                  <label> Food Preference: </label>
                    <ngx-select-dropdown 
                      name="food_pref"
                      ngModel 
                      [(ngModel)]=userObj.food_pref
                      [multiple]="false" 
                      [options]="dropdownOptions_food">
                    </ngx-select-dropdown>
                </div>
              </div>
              <div class=" col-md-3">
                <div class=" form-group ">
                  <label> Drink Preference: </label>
                  <ngx-select-dropdown 
                      name="drink"
                      ngModel 
                      [(ngModel)]=userObj.drink
                      [multiple]="false" 
                      [options]="dropdownOptions_drink">
                    </ngx-select-dropdown>
                </div>
              </div>
          <div class=" col-md-3">
              <div class=" form-group ">
                  <label> Smoke Preference: </label>
                  <ngx-select-dropdown 
                      name="smoke"
                      ngModel 
                      [(ngModel)]=userObj.smoke
                      [multiple]="false" 
                      [options]="dropdownOptions_smoke">
                    </ngx-select-dropdown>
                </div>
          </div>
          <div class=" col-md-3">
            <div class=" form-group ">
              <label> Marital Status : </label>
              <ngx-select-dropdown 
                      name="marital_status"
                      ngModel 
                      [(ngModel)]=userObj.marital_status
                      [multiple]="false" 
                      [options]="dropdownOptions_maritalStatus">
                    </ngx-select-dropdown>
            </div>
          </div>
        </div>

        


              <div class=" row">
                <div class=" col-md-6">
                  <div class=" form-group">
                    <label> About Me </label>
                    <textarea
                      class=" form-control"
                      ngModel
                      name="about" 
                      cols="80"
                      placeholder="Here can be your description"
                      rows="4"
                      [(ngModel)]=userObj.about
                    >
  Hello This is About Me :
  </textarea
                    >
                  </div>
                </div>
                
                
                <div class=" col-md-6">
                  <div class=" form-group">
                    
                    
                  </div>
                </div>


                
                <!-- <div class=" col-md-6">
                  <div class=" form-group">
                    <label class="label"> Upload Photo </label>
                        <div class="upload_file_container form-group card-user">
                           <span class="label"> Select file!</span>
                            <input  class="form-control" type="file" name="profile_pic"(change)="onFileSelected($event)"   accept="image/*"/>
                            <img id="profile_pic" [src]="imageSrc || 'http://placehold.it/60'" alt="No Image Chosen" class=" avatar"/>
                        </div>
                  </div>
                </div> -->
              </div>
              <div class=" card-footer">
                <button class=" btn btn-fill btn-danger" type="submit">Save</button>
              </div>


          </form>

        </div>
        
      </div>

      
    


    </div>



    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              
              <img alt="..." class=" avatar" 
              src={{profile_pic}}
              />

              <h5 class=" title">{{userObj.username}}</h5>
            </a>
            <p class=" description">{{userObj.designation}}</p>
          </div>
          <div class=" card-description">
            {{userObj.about}}
          </div>
        </div>
       
      </div>
    </div>

  </div>
</div>
