<div class="content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" row">
          <div class=" card-header col-md-9"><h3 class=" title" style="margin-left: 2px;">Edit Profile</h3></div>
           
      </div>
        <div class=" card-body">
             
          <form>
            <div class=" row">
              <div class=" col-md-2">
                <div class=" form-group">
                  <label> Employee Id </label>
                  <input
                    class=" form-control"
                    disabled=""
                    placeholder="EmpId"
                    type="text"
                    value={{userObj.empId}}
                  />
                </div>
              </div>
              <div class=" col-md-3">
                <div class=" form-group">
                  <label> First Name </label>
                  <input
                    class=" form-control"
                    placeholder="first name"
                    type="text"
                    value={{userObj.first_name}}
                  />
                </div>
              </div>
              <div class=" col-md-3">
                <div class=" form-group">
                  <label> Last Name </label>
                  <input
                    class=" form-control"
                    placeholder="last name"
                    type="text"
                    value={{userObj.last_name}}
                  />
                </div>
              </div>
              <div class=" col-md-4">
                  <div class=" form-group">
                    <label> Username </label>
                    <input
                      class=" form-control"
                      placeholder="Username"
                      type="text"
                      value={{userObj.username}}
                    />
                  </div>
                </div>
            </div>



            <div class=" row">
              <div class=" col-md-3">
                <div class=" form-group">
                  <label> Designation </label>
                  <input
                    class=" form-control"
                    placeholder="Designation"
                    type="text"
                    value={{userObj.designation}}
                  />
                </div>
              </div>
              <div class=" col-md-3">
                <div class=" form-group">
                  <label> password </label>
                  <input
                    class=" form-control"
                    placeholder="password"
                    type="text"
                    value={{userObj.password}}
                  />
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Email address </label>
                  <input
                    class=" form-control"
                    type="email"
                    value={{userObj.emailId}}
                  />
                </div>
              </div>
            </div>





            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Address </label>
                  <input
                    class=" form-control"
                    placeholder="Home Address"
                    type="text"
                    value={{userObj.address}}
                  />
                </div>
              </div>
            </div>

            <div class=" row">
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> City </label>
                  <input
                    class=" form-control"
                    placeholder="City"
                    type="text"
                    value={{userObj.city}}
                  />
                </div>
              </div>
              <div class=" col-md-3 pl-md-1">
                  <div class=" form-group">
                    <label> State </label>
                    <input
                      class=" form-control"
                      placeholder="State"
                      type="text"
                      value={{userObj.state}}
                    />
                  </div>
                </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> Country </label>
                  <input
                    class=" form-control"
                    placeholder="Country"
                    type="text"
                    value={{userObj.country}}
                  />
                </div>
              </div>
              <div class=" col-md-3 pl-md-1">
                  <div class=" form-group">
                    <label> Postal Code </label>
                    <input
                      class=" form-control"
                      placeholder="ZIP Code"
                      type="number"
                      value={{userObj.pincode}}
                    />
                  </div>
                </div>
            </div>


            <div class=" row">
              <div class=" col-md-5">
                <div class=" form-group">
                  <label> Location Preference </label>
                  <input
                    class=" form-control"
                    placeholder="Location"
                    type="text"
                    value={{userObj.location_pref}}
                  />
                </div>
              </div>
              <div class=" col-md-4">
                  <div class=" form-group">
                    <label> Restaurant Preference </label>
                    <input
                      class=" form-control"
                      placeholder="Restaurant"
                      type="text"
                      value={{userObj.restaurant_pref}}
                    />
                  </div>
                </div>
                <div class=" col-md-3">
                    <div class=" form-group">
                      <label> Budget </label>
                      <input
                        class=" form-control"
                        placeholder="Maximum Budget"
                        type="number"
                        value={{userObj.budget}}
                      />
                    </div>
                  </div>
            </div>


            <div class=" row">
              <div class=" col-md-3">
                 <div class=" form-group ">
                      <label> Food Preference: </label>
                      <ng-multiselect-dropdown
                        id="food_pref"  
                        style="color: white;" 
                        name="food_pref"   
                        ngModel      
                        [placeholder]="food"
                        [data]="dropdownList"
                        [settings]="userDropdownSettings"
                        (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)"
                        >
                      </ng-multiselect-dropdown>
                    </div>
                  </div>
              <div class=" col-md-3">
                <div class=" form-group ">
                  <label> Drink Preference: </label>
                  <ng-multiselect-dropdown
                    id="drink"  
                    style="color: white;" 
                    name="drink"   
                    ngModel      
                    [placeholder]="drink"
                    [data]="dropdownList1"
                    [settings]="userDropdownSettings1"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    >
                  </ng-multiselect-dropdown>
                </div>
              </div>
          <div class=" col-md-3">
              <div class=" form-group ">
                  <label> Smoke Preference: </label>
                  <ng-multiselect-dropdown
                    id="smoke"  
                    style="color: white;" 
                    name="smoke"   
                    ngModel      
                    [placeholder]="smoke"
                    [data]="dropdownList2"
                    [settings]="userDropdownSettings2"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    >
                  </ng-multiselect-dropdown>
                </div>
          </div>
          <div class=" col-md-3">
            <div class=" form-group ">
              <label> Marital Status : </label>
              <ng-multiselect-dropdown
                id="status"  
                style="color: white;" 
                name="marital_status"   
                ngModel      
                [placeholder]="status"
                [data]="dropdownList3"
                [settings]="userDropdownSettings3"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                >
              </ng-multiselect-dropdown>
            </div>
          </div>
        </div>



              <div class=" row">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label> About Me </label>
                    <textarea
                      class=" form-control"
                      cols="80"
                      placeholder="Here can be your description"
                      rows="4"
                      value={{userObj.about}}
                    >
  Hello This is About Me :
  </textarea
                    >
                  </div>
                </div>
              </div>



          </form>

        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">Save</button>
        </div>
      </div>
    </div>

  </div>
</div>
