.login-container {
  height: 100%;
    width: 50%;
    align-items: center;
    display: flex;
    left: 50%;
    top: 50%;
    margin-left: -12%;
    position: fixed;
    margin-top: -25%;
}

form {
  margin: auto;
}

.login-content {
  width: 1000px;
}
.card-header {
  margin: 0 auto;
  align-items: center;
}
.label {
  color: white;
}
.card {
  width: 150%;
}
.picture {
  border: white;
}
.upload_file_container {
  width: 100px;
  height: 40px;
  position: relative;
  border: white;
}

.upload_file_container input {
  width: 100px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
