.login-container {
    height: 100%;
    width: 50%;
    align-items: center;
    display: flex;
    left: 50%;
    top: 50%;
    margin-left: -12%;
    position: absolute;
    margin-top: -25%;
  }
  
  form {
    margin:auto;
    }
  
  .login-content {
    width: 1000px;
    display: block;
    margin: 0 auto;
    position: center;
  }
  .card-header {
    margin: 0 auto; 
    align-items: center;
}  

/* body {
background-image: url(C:\Latest\ROCK\src\assets\img\slider.png);
} */