<div class="plan-container">
  <div class="content bodyLocation">
    <div class="row">
      <div class=" col-md-10">
        <div class=" card" >
          <div class="card-header"><h3 class=" title">Plan Party</h3></div>
          <div class="card-body">
            <form (ngSubmit)="save(f)" #f="ngForm">
                
              <div class=" row">
                <div class=" col-md-12">
                  <div class=" form-group">                    
                    <label for="selectProject"> Project: </label>                    
                    <select id="selectProject" 
                    ngModel 
                    name="projectId" 
                    style="color:black; background-color: white;"
                    required
                    class="form-control" 
                    placeholder="Select Project">
                    <option *ngFor="let project of projectList" [value]="project.projectId">
                      {{project.projectName}}</option>
                      </select>                    
                  </div>
                </div>                
              </div>

              <div class=" row">                
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label> ApproverId: </label>
                    <select id="approverId" 
                    ngModel 
                    name="approverId" 
                    style="color:black; background-color: white;"
                    class="form-control" 
                    placeholder="ApproverId">
                      <option *ngFor="let user of userList" [value]="user.empId">
                      {{user.username}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class=" row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label> Party Place: </label>
                    <input
                      class=" form-control text"
                      placeholder="Party Place"
                      type="text"     
                      ngModel   
                      name="party_place"           
                    />
                  </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-12">
                  <div class=" form-group ">
                    <label> Attendee: </label>
                    <ng-multiselect-dropdown
                      id="attendee"  
                      style="color: white;" 
                      name="empId"   
                      ngModel      
                      [placeholder]="'Attendee'"
                      [data]="userList"
                      [settings]="userDropdownSettings"
                      (onSelect)="onItemSelect($event)"
                      (onSelectAll)="onSelectAll($event)"
                      >
                    </ng-multiselect-dropdown>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label class="label"> Date and Time&nbsp;&nbsp; </label>
                    <input [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" 
                    placeholder="Date Time"
                   ngModel
                   name="partyDate">
                  </div>
                  <owl-date-time [pickerMode]="'dialog'" #dt5></owl-date-time>
                </div>
              </div>
                
                <div class=" row">
                  <div class=" col-md-12">
                    <div class=" form-group">
                      <label> About Party </label>
                      <textarea
                      class=" form-control text"
                        name="party_title"
                        ngModel
                        cols="80"
                        placeholder="Provide Description About the Party"
                        rows="2"                    
                      >                  
                      </textarea>
                    </div>
                  </div>
                </div>
               
              
              
              <div class="card-footer">
                  <button class=" btn btn-fill btn-danger" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
     </div>
  </div>
  </div>
  