.table-container {
  max-height: 100%;
}

.hoveraffect:hover {
  cursor: pointer;
  
}
.yellow {
  color:  white !important;
}
.green {
color: lightseagreen !important;
}

.mat-header-row {
  background-color: #fd5d93;
}
