.table-container {
  max-height: 700px;
  overflow: auto;
}

.hoveraffect:hover {
  cursor: pointer;
  text-decoration: underline !important;
}
.yellow {
  color:  yellow !important;
}
.green {
color: lightgreen !important;
}